- title 'Список анализов по датам'
%h1 Список анализов

.row
  %table.table
    %caption Выберите анализ по дате, для формирования отчета по нему.
    - @analyses.each do |item|
      %tr
        %td= Russian::strftime(item.date, '%d.%m.%Y')
        %td{:title => 'Статус анализа'}= item.status
        %td
          = render :partial => 'form_report/modal', :locals => {:array => item.array, :analysis => item}
        %td
          != link_to 'Сформировать отчет', "/form_report/get_report?analysis=#{item.id}",
          {:class => 'btn btn-warning', :target => '_blank'}