= form_for @problem do |f|
  - if @problem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@problem.errors.count, "error")} prohibited this problem from being saved:"
      %ul
        - @problem.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label Текст проблемы
    %textarea.form-control{:ng => {:model => 'problem.description'}}
  .form-group
    %label Тип проблемы
    %select.form-control{:ng => {:model => 'problem.type', :change => 'changeType()'}}
      - Problem.types.each do |item|
        %option= Problem.get_russian_type item
  .form-group{:ng => {:show => 'isShowRedactorBtn'}}
    %select.form-control{:ng => {:model => 'currentProblem'}}
      %option{:ng => {:repeat => 'problem in problems'}, :value => '{{problem.description}}'} {{problem.description}}
    %input.btn.btn-info{:ng => {:click => 'addProblem()'}, :type => 'button', :value => 'Добавить проблему'}
  .form-group{:style => 'display: none'}
    = f.label :description, 'Текст проблемы'
    = f.text_area :description, :class => 'form-control', :value => '{{problem.description}}'
  .form-group{:style => 'display: none'}
    = f.label :problem_type, 'Тип проблемы'
    = f.select :problem_type, :value => '{{problem.type}}'
  .form-group{:ng => {:show => 'isShowRedactorBtn'}}
    .alert.alert-warning
      %b Внимание!
      %p При создании комплексной проблемы используйте редактор для добавления проблем через связку 'И'

  .col-md-offset-4
    - if request.fullpath.match(/\/problems\/new/).nil?
      = f.submit 'Изменить', :class => 'btn btn-primary'
    - else
      = f.submit 'Добавить', :class => 'btn btn-primary'
    = link_to 'Назад', problems_path
