= form_for @problem do |f|
  - if @problem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@problem.errors.count, "error")} prohibited this problem from being saved:"
      %ul
        - @problem.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, 'Текст проблемы'
    = f.text_area :description, :class => 'form-control'
  .form-group
    = f.label :type, 'Тип проблемы'
    = f.select :type, Problem.types, :include_blank => true, :class => 'form-control'
  .form-group
    .alert.alert-warning
      %b Внимание!
      %p При создании комплексной проблемы используйте редактор для добавления простых проблем через связку 'И'

  .col-md-offset-4
    - if request.fullpath.match(/\/problems\/new/).nil?
      = f.submit 'Изменить', :class => 'btn btn-primary'
    - else
      = f.submit 'Добавить', :class => 'btn btn-primary'
    = link_to 'Назад', problems_path
