.blog-header
  %h1 Список проблем
  = title 'Список проблем'

%p= link_to 'Добавить', new_problem_path, :class => 'btn btn-primary'

%table.table.table-hover
  %tr
    %th Краткий текст
    %th
    %th
    %th

  - @problems.each do |problem|
    %tr
      %td= problem.description
      %td= link_to 'Просмотр', problem, :class => 'btn btn-info'
      %td= link_to 'Изменить', edit_problem_path(problem), :class => 'btn btn-warning'
      %td= link_to 'Удалить', problem, :method => :delete,
      :data => {:confirm => 'Вы уверены, что хотите удалить проблему?'}, :class => 'btn btn-danger'
