= form_for @solution do |f|
  - if @solution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution.errors.count, "error")} prohibited this solution from being saved:"
      %ul
        - @solution.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, 'Текст рекомендации'
    = f.text_area :description, :class => 'form-control'

  .col-md-offset-4
    - if request.fullpath.match(/\/solutions\/new/).nil?
      = f.submit 'Изменить', :class => 'btn btn-primary'
    - else
      = f.submit 'Добавить', :class => 'btn btn-primary'
    = link_to 'Назад', solutions_path
