
.blog-header
  %h1 Список рекомендаций
  = title 'Список рекомендаций'

%p= link_to 'Добавить', new_solution_path, :class => 'btn btn-primary'

%table.table.table-hover
  %tr
    %th Краткий текст
    %th
    %th
    %th

  - @solutions.each do |solution|
    %tr
      %td= solution.description
      %td= link_to 'Просмотр', solution, :class => 'btn btn-info'
      %td= link_to 'Изменить', edit_solution_path(solution), :class => 'btn btn-warning'
      %td= link_to 'Удалить', solution, :method => :delete,
      :data => {:confirm => 'Вы уверены, что хотите удалить рекомендацию?'}, :class => 'btn btn-danger'