
.blog-header
  %h1= yield(:title)
  = title 'Детальная страница рекомендации'

.row
  .col-md-6.col-md-offset-3
    .form-group
      = label_tag :solution, 'Текст рекомендации'
      %p{:id => :solution, :name => :solution}= @solution.description
    .form-group
      = label_tag :type, 'Тип рекомендации'
      %p{:id => :type, :name => :type}= @solution.get_russian_type

    = link_to 'Назад', solutions_path, :class => 'btn btn-default'