= form_for @case do |f|
  - if @case.errors.any?
    #error_explanation
      %h2= "#{pluralize(@case.errors.count, "error")} prohibited this case from being saved:"
      %ul
        - @case.errors.full_messages.each do |msg|
          %li= msg

  .row
    %ul.nav.nav-tabs
      %li.active= link_to 'Основные', '#main', :data => {:toggle => 'tab'}
      %li= link_to 'Дополнительные', '#add', :data => {:toggle => 'tab'}
      %li= link_to 'Персональные', '#personal', :data => {:toggle => 'tab'}

  .tab-content
    .tab-pane.active#main
      .row
        .col-md-6.col-md-offset-3
          .form-group
            = f.label :ind_plan, 'Индивидуальный план'
            = f.text_field :ind_plan, :class => 'form-control'

          .form-group
            = f.label :impl_plan, 'Выполнение плана (в руб.)'
            = f.text_field :impl_plan, :class => 'form-control'

          .form-group
            = f.label :impl, 'Выполнение (в %)'
            = f.text_field :impl, :class => 'form-control'

          .form-group
            = f.label :av_check, 'Средний чек'
            = f.text_field :av_check, :class => 'form-control'

          .form-group
            = f.label :items_count, 'Среднее количество позиций в чеке'
            = f.text_field :items_count, :class => 'form-control'

          .form-group
            = f.label :total_checks, 'Общее количество чеков'
            = f.number_field :total_checks, :class => 'form-control'

          .form-group
            = f.label :problems_text, 'Текст проблемы'
            = f.text_field :problems_text, :class => 'form-control'

          .form-group
            = f.label :solutions_text, 'Текст рекомендации'
            = f.text_field :solutions_text, :class => 'form-control'

    .tab-pane#add
      .row
        .col-md-6.col-md-offset-3

    .tab-pane#personal
      .row
        .col-md-6.col-md-offset-3

  .row
    .col-md-6.col-md-offset-3
      .col-md-offset-4
        = f.submit 'Сохранить', :class => 'btn btn-primary'
        = link_to 'Назад', consultants_path, :class => 'btn btn-default'



