%p#notice= notice

.blog-header
  %h1 Добавление прецедента в онтологию
  = title 'Добавление прецедента в онтологию'

%p= link_to 'Добавить', new_case_path

.row
  %ul.nav.nav-tabs
    %li.active= link_to 'Основные', '#main', :data => {:toggle => 'tab'}
    %li= link_to 'Дополнительные', '#add', :data => {:toggle => 'tab'}
    %li= link_to 'Персональные', '#personal', :data => {:toggle => 'tab'}

.tab-content
  .tab-pane.active#main
    .row
      %table.table.table-bordered
        %tr
          %th Индивидуальный план
          %th Выполнение плана (руб.)
          %th Выполнение плана (%)
          %th Средний чек
          %th Количество позиций в чеке
          %th Общее количество чеков
          %th Проблемы
          %th Рекомендации
          %th
          %th
          %th
        - @cases.each do |case_item|
          %tr
            %td= case_item.ind_plan
            %td= case_item.impl_plan
            %td= case_item.impl
            %td= case_item.av_check
            %td= case_item.items_count
            %td= case_item.total_checks
            %td= case_item.problems_text
            %td= case_item.solutions_text
            %td= link_to 'Просмотр', case_item, :class => 'btn btn-info'
            %td= link_to 'Изменить', edit_case_path(case_item), :class => 'btn btn-warning'
            %td= link_to 'Удалить', case_item, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить прецедент из базы?' }, :class => 'btn btn-danger'
  .tab-pane#add
    .row
      %table.table.table-bordered
        %tr
          %th
          %th
          %th
        - @cases.each do |case_item|
          %tr
            %td= link_to 'Просмотр', case_item, :class => 'btn btn-info'
            %td= link_to 'Изменить', edit_case_path(case_item), :class => 'btn btn-warning'
            %td= link_to 'Удалить', case_item, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить прецедент из базы?' }, :class => 'btn btn-danger'
  .tab-pane#personal
    .row
      %table.table.table-bordered
        %tr
          %th
          %th
          %th
        - @cases.each do |case_item|
          %tr
            %td= link_to 'Просмотр', case_item, :class => 'btn btn-info'
            %td= link_to 'Изменить', edit_case_path(case_item), :class => 'btn btn-warning'
            %td= link_to 'Удалить', case_item, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить прецедент из базы?' }, :class => 'btn btn-danger'
