= form_for @consultant do |f|
  - if @consultant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@consultant.errors.count, "error")} prohibited this consultant from being saved:"
      %ul
        - @consultant.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :family_name, 'Фамилия'
    = f.text_field :family_name, :class => 'form-control', :html => {:placeholder => 'Например, Иванов'}

  .form-group
    = f.label :first_name, 'Имя'
    = f.text_field :first_name, :class => 'form-control', :html => {:placeholder => 'Например, Дмитрий'}

  .form-group
    = f.label :second_name, 'Отчество'
    = f.text_field :second_name, :class => 'form-control', :html => {:placeholder => 'Например, Петрович'}

  .form-group
    = f.submit 'Добавить', :class => 'btn btn-primary'
