%h1 Список консультантов

%p= link_to 'Добавить', new_consultant_path, :class => 'btn btn-primary'

%table.table.table-hover
  %tr
    %th Фамилия
    %th Имя
    %th Отчество
    %th
    %th
    %th

  - @consultants.each do |consultant|
    %tr
      %td= consultant.family_name
      %td= consultant.first_name
      %td= consultant.second_name
      %td= link_to 'Просмотр', consultant, :class => 'btn btn-info'
      %td= link_to 'Изменить', edit_consultant_path(consultant), :class => 'btn btn-warning'
      %td= link_to 'Удалить', consultant, :method => :delete,
      :data => { :confirm => 'Вы уверены, что хотите удалить консультанта?' }, :class => 'btn btn-danger'

%br
