%p#notice= notice

.blog-header
  %h1="История работы консультанта: #{@consultant.short_name}"
  = title "История работы консультанта: #{@consultant.short_name}"

.row
  %ul.nav.nav-tabs
    %li.active= link_to 'График', '#home', :data => {:toggle => 'tab'}
    %li= link_to 'Таблица', '#profile', :data => {:toggle => 'tab'}

  .tab-content
    .tab-pane.active#home
      .row
        .col-md-4
          %table.table.table-bordered
            %tr
              %th Параметр
              %th Отображение
            %tr
              %td Инд. план
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'indPlan'}
            %tr
              %td Вып. плана
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'implPlan'}
            %tr
              %td Выполнение
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'impl'}
            %tr
              %td Ср. чек
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'avCheck'}
            %tr
              %td Кол-во позиций в чеке
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'itemsCount'}
            %tr
              %td Кол-во чеков
              %td
                %input{:type => 'radio', :name => 'param', :checked => 'checked', :id => 'checksCount'}
        .col-md-8
          #chartContainer{:style => 'max-width: 800px;height: 400px;'}
    .tab-pane#profile
      %table.table.table-bordered#params
        %thead
        %tbody

%script
  window.consultant_show();

= link_to 'Вернуться', consultants_path, :class => 'btn btn-default'