<td><%= value %></td>
<td><%= param_id %></td>
<td><%= date_id %></td>
<td><%= consultant_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>